# /etc/systemd/system/cfdi.service

[Unit]
Description=Gunicorn instance to serve cfdi
After=network.target

[Service]
User=adsoft
Group=adsoft
WorkingDirectory=/home/adsoft/cfdi33
ExecStart=/usr/bin/gunicorn -b 0.0.0.0:8081 --workers=5 --timeout=20 wsgi:app

[Install]
WantedBy=multi-user.target
